parameters:
	ignoreErrors:
		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: commands/BountyCommand.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: commands/RenameCommand.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: commands/RepairCommand.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 2
			path: economy/EconomyManager.php

		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: economy/EconomyManager.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 4
			path: economy/auctionHouse/AuctionHouse.php

		-
			message: '#^Ternary operator condition is always false\.$#'
			identifier: ternary.alwaysFalse
			count: 1
			path: economy/auctionHouse/AuctionHouse.php

		-
			message: '#^Trait libMMO\\entities\\stackable\\StackableTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: entities/stackable/StackableTrait.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: forms/EconomyForms.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: player/PlayerData.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 2
			path: utils/EventEmitter.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: utils/rollback/RollbackEngine.php
